.roomContainer {
  min-height: calc(100dvh - 70px);
  padding: 1rem 1rem 0;

  .roomControlWrapper {
    z-index: 30;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem 0;
    background-color: var(--white-0);
    height: 61px;
    border-top: 1px solid var(--app-shell-border-color);
  }
}

.dBlock {
  display: block !important;
  height: 52vh;
  margin-bottom: 1rem;
}
.dNone {
  display: none !important;
}
