:root {
  --black-0: #000000;
  --black-1: #202020;
  --white-0: #ffffff;
  --white-1: #fdfdfd;
  --red-0: #cc3524;
  --red-1: #c01f0d;
  --pink-0: #fdf0ed;
}

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1920px;
